main {
  padding-top: 150px;
}

header {
  position: fixed;
  background-color: #edbc4f;
  width: 100%;
  border: solid black 1px;
}

h2 {
  font-size: 10px;
}

main section {
  margin-bottom: 20px;
}
.row {
  margin-top: 10px;
}

.char {
  text-align: center;
  border: solid gainsboro 1px;
  /* padding-bottom: 200px; */
}

.char p {
  padding: 20px;
}

img {
  height: auto;
  width: 100%;
}
/* 
.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
} */